div(ng-include='"components/navbar/navbar.html"')

.container
  table.table(ng-table="florasTable", show-filter="true")
    tr(ng-repeat="flora in floras")
      td(data-title="'name'" filter="{'name':'text'}") {{ flora.name }}
      td(data-title="'type'" filter="{'type':'text'}") {{ flora.type }}
      td(data-title="'fruitage'") {{ flora.attributes.fruitage }}
      td(data-title="'basecover'") {{ flora.attributes.basecover }}
      td(data-title="'coords'") {{ flora.coords }}