.container
  .tile(ng-style="{left:fauna.coords.x*32, top:fauna.coords.y*32}" ng-class="fauna.type" ng-repeat="fauna in faunas")

.container
  .tile(ng-style="{left:flora.coords.x*32, top:flora.coords.y*32}" ng-class="flora.type" ng-repeat="flora in floras")
