div(ng-include='"components/navbar/navbar.html"')

{{ faunas }}
.container
  table.table(ng-table="faunasTable", show-filter="true")
    tr(ng-repeat="fauna in faunas")
      td(data-title="'name'" filter="{'name':'text'}") {{ fauna.name }}
      td(data-title="'type'" filter="{'type':'text'}") {{ fauna.type }}
      td(data-title="'attributes'") {{ fauna.attributes }}
      td(data-title="'coords'") {{ fauna.coords }}
